<div class="col-lg-5">
  <a href="/">
    <%= image_tag "logo.png", :style => 'display:block;margin:auto;margin-top:100px' %>
    <%= image_tag "common/slogan.png", :size => "280", :style => 'display:block;margin:auto' %>
  </a>
</div>


<div class="col-lg-7">
  <div style="font-size: 25px;letter-spacing: 1px; margin-top: 50px">用戶註冊</div>
  <div style="font-size: 16px;color: #7F1700;letter-spacing: 1px;margin-top: 15px;margin-left: 3px">已有帳號，我要
    <a href="/sessions/sign_in" style="color: blue">登入</a>
  </div>
  <hr color="#D6D6D6" size="3" width="100%">

  <%= form_tag register_create_path do %>

      <div style="float: left; font-size: 16px; width: 20%;line-height: 35px;text-align: right;">
        您的姓名：<br>
        帳號 ( E-Mail )：<br>
        設定密碼：<br>

      </div>

      <div class="input_area">
        <%= text_field_tag :tag_name, params[:tag_name], :required => true %>      </br>
        <%= text_field_tag :tag_email, params[:tag_email], :required => true %>    </br>
        <%= password_field_tag :tag_password, nil, :required => true, :placeholder => ' 密碼長度至少要7個字元' %>

        <div><%= submit_tag "註冊帳號", {:class => 'btn btn-primary', :disable_with => 'Processing...'} %></div>
      </div>

      <hr color="#D6D6D6" size="3" width="100%">
  <% end %>
</div>

<script>
    $('form').submit(function () {
        return validate(this);
    });
</script>
