<% self.formats = [:json, :html] %>

<div name="item" data-value="checkbox">
  <label name="item_name"><%= @name %></label>
  </br>
  <% @data.each_with_index do |x,i| %>
      <% if @value.include? i.to_s %>
          <input type="checkbox" name="checkbox_group_<%= @name %>" checked='true' disabled='true' value="<%= i %>"> <%= x %>
      <% else %>
          <input type="checkbox" name="checkbox_group_<%= @name %>" disabled='true' value="<%= i %>"> <%= x %>
      <% end %>
  <% end %>
  </br></br>
</div>

